
{
  "jwt":{
    "secret": "secret"
  },
    "server": {
      "address": ":1323"
    },
    "database": {
        "url": "http://localhost:8529",
        "user": "login",
        "pass": "pass",
        "name": "fantasy_db"
    }
  
  }